body {
  margin: 0px;
  color: white;
  text-align: center;
  overflow: hidden;
}

#scene-container {
  top: -600px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.functions {
  position: fixed;
  right: 35px;
  top: 30px;
  z-index: 1;
}

.functions-button {
  width: 70px;
  height: 40px;
}

/*#play-span, #pause-span, #reset-position-span, #add-planet-span, #tot-planet-number, #clear-traces-span {*/
.functions-button-span {
  font-family: 'Roboto Mono', monospace;
  font-size: small;
}

#tot-planet-number-btn {
  position: fixed;
  z-index: 1;
  left: 30px;
  top: 30px;
}