body {
  margin: 0px;
  color: white;
  text-align: center;
  overflow: hidden;
}

#scene-container {
  top: -600px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.functions {
  position: fixed;
  right: 80px;
  top: 30px;
  z-index: 1;
}

#reset-position-btn, #add-planet-btn, #clear-traces-btn {
  width: 100px;
  height: 50px;
}

#tot-planet-number-btn {
  width: 200px;
  height: 30px;
}

#reset-position-span, #add-planet-span, #tot-planet-number, #clear-traces-span {
  font-family: 'Roboto Mono', monospace;
  font-size: medium;
}